# Python
__pycache__/
*.py[cod]
venv/
.env

# Logs y Reportes (Ignoramos el contenido, mantenemos la carpeta)
reports/*
logs/*
!reports/.gitkeep
!logs/.gitkeep

# OS
.DS_Store

# Robot outputs
output.xml
log.html
report.html

# Generated folders
reports/
logs/

# Python
__pycache__/
*.pyc

